html {
  font-family: Courier;
  font-size: 16px;
  background-color: c9fd84;
  color: #000000;
}
div#main {
  text-align: center;
}
nav#links {
  float: left;
  position: fixed;
  font-size: 16px;
  text-align: center;
  margin: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
}
nav#links > a {
  color: #000000;
  text-decoration: none;
}
nav#links > p {
  color: #000000;
}
