/* color scheme is #acff99 (green), #99acff (blue), and #ff99ac (red)
triadic scheme: http://www.colorhexa.com/99acff */
body {
  font-family: "Slabo 27px", sans-serif;
  background-color: c9fd84;
}
div#wrapper { /* wrapper div for the whole body */
  background-color: c9fd8f;
  overflow: auto;
}
div#main {
  float: left;
}
div#main > p {
  text-align: center;
  font-size: 24px; 
  color: #99acff;
}
div#links { /* css for the links panel */
  float: right;
  background-color: #ffffff;
  position: fixed;
  margin: 20px;
  padding: 8px;
  border: 0px solid;
  border-radius: 8px;
}
div#links > a { /* css shared by the a tags in the links panel */
  font-size: 32px;
  text-align: center;
  text-decoration: none;
  margin: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  color: #ffffff;
}
a#twitter { /* twitter link */
  color: #55acee;
}
