#body {
  font-family: "Slabo 27px", sans-serif;
}
div#links > a {
  font-size: 32px;
  text-align: center;
  text-decoration: none;
  margin: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border: 0px solid;
  border-radius: 5px;
  color: #ffffff;
}
a#twitter {
  background-color: #55acee;
}
